<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Books</title>
		<link type="text/css" href="dist/components/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="dist/css/main.min.css">
	</head>
	<body ng:app="booksApp">

		<div ng-view></div>

		<script type="text/ng-template" id="index.html">
			<div class="index">
				<div class="container">
					<div class="search">
						Find me the best
						<select ng-model="search.genre.category">
							<option ng-repeat="genre in genres" value="{{genre}}">
								{{genre}}
							</option>
						</select>
						books about
						<select ng-model="search.genre.name">
							<option ng-repeat="topic in topics" value="{{topic}}">
								{{topic}}
							</option>
						</select>
						<input type="text" ng-model="search.$" placeholder="Search books">
					</div>

					<div class="book-list">
						<div class="item" dir-paginate="book in books | filter:search:strict | itemsPerPage: 9" ng-include="'book-item.html'"></div>
					</div>

					<dir-pagination-controls></dir-pagination-controls>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="book.html">
			<div class="book-show">
				<a href="#/" class="back-to-index"><i class="fa fa-chevron-left"></i> Back to all books</a>
				<section class="bg-gray">
					<div class="container">
						<h1>{{book.name}}</h1>
						by {{book.author.name}}
						<div class="description">
							{{book.description}}
						</div>
						Categories:
						<div class="categories">
							<span class="category">{{book.genre.category}}</span>, <span class="category">{{book.genre.name}}</span>
						</div>
					</div>
				</section>
				<section>
					<div class="container">
						<h2>Introduction</h2>
						<p ng-repeat="paragraph in book.introduction">
							{{paragraph.content}}
						</p>
					</div>
					<div class="author">
						<div class="inner">
							<img src="{{book.author.avatar}}">
							Written by <strong>{{book.author.name}}</strong>
						</div>
					</div>
				</section>
				<section class="bg-gray">
					<div class="container">
						<h3>Similar reading</h3>

						<div class="book-list">
							<div class="item" ng-repeat="book in books | filter: { genre: { name: book.genre.name }} | limitTo: 3" ng-include="'book-item.html'"></div>
						</div>
					</div>
				</section>
			</div>
		</script>
		<script type="text/ng-template" id="book-item.html">
			<a href="#ShowBook/{{book.id}}">
				<img src="{{book.cover}}">
				<h2>{{book.name}}</h2>
				<div class="author">by {{book.author.name}}</div>
				<div class="footer">
					<span class="likes"><i class="fa fa-heart-o"></i> {{book.likes}}</span>
					<span class="published" am-time-ago="book.published"></span>
				</div>
			</a>
		</script>

		<script src="dist/js/main.js"></script>
	</body>
</html>
