@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import "../components/fontawesome/less/font-awesome.less";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #2F6BE0;
}

section {
	padding: 60px 0;

	&.bg-gray {
		background: #eee;
	}
}

.container {
	width: 900px;
	margin: 0 auto;
}

.search {
	padding: 10px;
	margin: 10px 5px;
	border: dotted 1px #ddd;

	input, select {
		padding: 10px;
		height: 30px;
		line-height:30px;
		border: solid 1px #aaa;
		margin: 0 2px;
	}
}

.index {
	margin: 20px 0;

	.pagination {
		margin: 20px 0;
		padding: 0;
		list-style-type: none;
		text-align: center;

		li {
			display: inline-block;

			a {
				display: inline-block;
				padding: 10px 15px;
				border: solid 1px #ddd;
				margin: 0 5px;
				border-radius: 2px;

				&:hover {
					background: #ddd;
				}
			}
		}
	}
}

.book-show {
	.back-to-index {
		display: block;
		padding: 10px;
		text-align: center;
		background: #FFF8A4;
	}

	h1 {
		margin: 0 0 5px 0;
	}

	.description {
		margin: 30px 0;
		font-style: italic;
	}

	.categories {
		.category {
			text-decoration: underline;
		}
	}

	.author {
		margin-top: 40px;
		text-align: center;

		.inner {
			display: inline-block;
			border-top: solid 1px #ddd;
			width: 20%;
			margin: 20px auto;
			padding-top: 20px;

			img {
				width: 100px;
				border-radius: 50%;
				display: block;
				margin: 20px auto;
			}
		}
	}

	h3 {
		text-align: center;
	}
}

.book-list {
	position: relative;
	display: flex;
	flex-flow: row wrap;

	.item {
		flex: 1;
		min-width: 32.33%;
		border: 1px solid #ddd;
		cursor: pointer;
		background: #fafafa;
		padding: 10px;
		border-radius: 5px;
		margin: 0.5%;

		a {
			color: inherit;
		}

		img {
			width: 100%;
		}

		h2 {
			font-size: 120%;
			margin: 5px 0 10px 0;
			height: 50px;
		}

		&:hover {
			opacity: 0.6;
		}

		.author {
			font-size: 90%;
			font-style: italic;
			margin-bottom: 10px;
		}

		.footer {
			display: flex;
			font-size: 90%;

			.likes {
				flex: 1;
			}
			.published {
				flex: 1;
				text-align: right;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.container {
		width: 100%;
		padding: 0 5%;
	}
	.book-list {
		.item {
			flex-basis: 49%;
		}
	}
}

@media screen and (max-width: 640px) {
	.container {
		width: 100%;
		padding: 0 5%;
	}
	.book-list {
		.item {
			flex-basis: 99%;
		}
	}
}
